
html, body{
	margin:0;
	padding:0;
}

.navbar{
	margin-bottom:0;
-webkit-box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 10px 25px 2px rgba(0,0,0,0.48);
box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.48);
z-index:20!important;
min-height:58px;
border:0!important;
background-color:black;
font-size:1.8em;
}


#fullscreen{
	background-image:url("../img/Landscapes/7.jpg");
	height:90.5vh;
	/*width:100%;*/
	/*background-size:cover;*/
	/*background-attachment:fixed;*/
	position:relative;
	background-position:center;
	background-repeat:no-repeat;
	/*display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;*/
	color:white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);	
				z-index: 1!important;

}

.homeQuote{
	float:right!important;
	margin-left:50%;
	font-size: 1.5em;
	font-family:cursive;
	padding-bottom:;
}

#endQuote{
	font-size:.5em;
	float:right;
}

.wrapper{
	height:100vh;
	background-size:cover;
	background-color:black!important;
}


/*To keep a black background when the window is resized to allow a blank photo space*/
.row{
	background-color:black!important;
	
}

.halfWrapper{
	height:50vh;
	background-size:cover;
}

#parallaxOne{
	/*background-image:url("C:/Users/Djfan/OneDrive/Code Snippets/Photography Site/img/tree_closeup.png");*/
	
	height:100vh;
	/*background-attachment:fixed;*/
	background-position:center;
	background-repeat:no-repeat;
	
	/*padding-top:50px;*/
}

#homeBar{
	height:200px;
	background-color:red;
}

hr{
	width:400px;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,0.2);
}

hr.style-eight {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-eight:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

/*Sticky header*/

#sticky-wrap {
	padding: 3px;
}
#sticky-wrap.stickyhead {
	position: fixed;
	top: 0;
	right:0;
	left:0;
	background: rgba(0,0,0,0.7);
	/*background: rgba(0,0,0,0.7);
	box-shadow:0 0 10px rgba(0,0,0,0.3);*/
}

/*End Sticky*/

/*.imageRow{
	padding-top:5%;
}*/

/*thumbnail styles */
.thumbnail:hover{
	/*transform:rotate(2deg);
	box-shadow:0 0 7px rgba(0, 0, 0, .5);*/
	

}

img{
	max-width:100%;
	height:auto;
}

.navReplace{
	background-color:black;
	min-height:58px;
	/*margin-top:-25px;*/
	
}

.menuButton{
	/*background-color:red!important;*/
	color:white!important;
}

.thumbnail{
	padding:0!important;
	margin:0!important;
	background-color:black!important;
	border:1px solid black;
	width:100%!important;
}



.col-lg-4, .col-md-8, .col-sm-6{
	padding:0!important;
	margin:0!important;
}

/*.thumbnails{
	width:100%;
	
}*/
/*.animationLoader{
	background-color:black!important;
	height:20px;
	width:100%!important;
}*/



.helper {
    display: inline-block;
    height: 100%;
    vertical-align:middle;
  }

#heroLogo{
	/*float:right;
	margin-top:20%;
	width:600px;
	height:auto;*/
	vertical-align:middle;
	
}

#navLogo{
	width:150px;
	margin-top:0;
	/*margin:1px solid black!important;*/
}

.sectionHeaderBar{
	height:60px;
	background-color:black;
	text-align:center;
	vertical-align:middle;
	color:white;
	font-family: 'Oswald', sans-serif;
	font-size:2em;
	display:block;
}

.sectionCenter{
	height:60px;
	line-height:60px;
	vertical-align:middle;
}

#thumbnailWide{
	background: url("C:/Users/Djfan/OneDrive/Code Snippets/Photography Site/img/Family/andreson2.jpg");
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	/*background-position:center;*/
	background-repeat:no-repeat;
	height:600px;
}

#backgroundItemFamily{
	background: url("C:/Users/Djfan/OneDrive/Code Snippets/Photography Site/img/Senior/31.jpg");
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	/*background-position:center;*/
	background-repeat:no-repeat;
	height:600px;
}

.navColor{
	color:white;
	font-family: 'Oswald', sans-serif;

}

/*#menuBottomBorder{
	border-top:1px solid white;
}
*/
#landscapeParallax{
	background: url("C:/Users/Djfan/OneDrive/Code Snippets/Photography Site/img/Lanscapes/13.jpg");
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	/*background-position:center;*/
	background-repeat:no-repeat;
	height:600px;
}

.callToAction{
	/*background-color:red;
	vertical-align:middle;
	display:block;*/
	position:absolute;
	bottom:10%;
	right:50%;
	background: red;
	outline:none;
	border:none;
	margin:0 auto;

	
}

button:hover{
	color:white;
	background: steelblue;
}

#galButton{
	color:white;
}

.bioSection{
	/*background-color:white!important;*/
	width:100%;
	height:100%!important;
	z-index: 100;
	font-family: 'Oswald', sans-serif;
	font-size:1.5em;
}

.bioWrapper{
	/*text-align:center;*/
	width:80%;
	
	margin:0 auto;
	color:white;
	padding-top:15%;
}

